{% extends 'back/base.html.twig' %}

{% block title %}Presta Auto - Facture{% endblock %}

{% block main %}
    {% include 'components/page_header.html.twig' with {'title': 'Liste des factures', 'link': path('back_default_index')} %}

<<<<<<< HEAD
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.status }}</td>
                <td><a href="{{ path('back_app_invoice_download', {'id': invoice.id}) }}">Télécharger</a></td>
                <td>
                    <a href="{{ path('back_app_invoice_show', {'id': invoice.id}) }}">show</a>
                    {# <a href="{{ path('back_app_invoice_edit', {'id': invoice.id}) }}">edit</a> #}
                </td> 
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
=======
    <div>
        <div class="card">
            {% include 'components/table_Invoice_Estimate.html.twig' with {'type': 'invoice', 'pagination': invoicesPagination} %}
        </div>
        <div>
            <div class="flex space-x-16 items-center w-full py-2 px-2 bg-gray-200">
                <div class="text-medium flex justify-center items-center space-x-4">
                    <iconify-icon icon="flat-color-icons:ok" width="35px"></iconify-icon>
                    <p class="mb-0">Factures payées</p>
                </div>
                <div class="text-medium flex justify-center items-center space-x-4">
                    <iconify-icon icon="material-symbols:pending" style="color: orange;" width="35"></iconify-icon>
                    <p class="mb-0">Factures en attente de règlement</p>
                </div>
            </div>
        </div>
    </div>
<<<<<<< HEAD
>>>>>>> 85c4de4 (feat(Company) Création de la table de paramètre de site + fix(Estimate / Invoice) maj controller)

    {{ knp_pagination_render(pagination) }}
    {# <a href="{{ path('back_app_invoice_new') }}">Create new</a> #}
=======
    <div class="pagination mt-4 flex justify-between">
        {{ knp_pagination_render(invoicesPagination) }}
    </div>
>>>>>>> 40dcc14 (Ajout de la pagination et Mise à jours des vues)
{% endblock %}
