{% extends 'back/base.html.twig' %}

{% block title %}Presta Auto - Facture{% endblock %}

{% block main %}
    {% include 'components/page_header.html.twig' with {'title': 'Liste des factures', 'link': path('back_default_index')} %}

    <div>
        <div class="relative bg-gray-50 overflow-x-auto shadow-md sm:rounded-lg mt-14 px-8">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
                <thead class="text-xs text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400">
                <tr class="border-b-2 border-gray-500">
                    <th scope="col" class="px-6 py-3 text-center">
                        Devis n°
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Véhicule
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Date du devis
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Date de validité
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Montant
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Statut
                    </th>
                    <th scope="col" class="px-6 py-3">
                    <th scope="col" class="px-6 py-3">
                </tr>
                </thead>
                <tbody>
                {% if invoices is not empty %}
                    {% for invoice in invoices %}
                        <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                                {{ invoice.id }}
                            </th>
                            <td class="px-6 py-4 text-center">
                                {{ invoice.client.lastname }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                {{ invoice.status }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                {{ invoice.status}}
                            </td>
                            <td class="px-6 py-4 text-center">
                                77 €
                            </td>
                            <td class="px-6 py-4 text-center">
                                En cours
                            </td>
                            <td class="px-6 py-4 text-center flex justify-center">
                                <iconify-icon icon="material-symbols:pending" style="color: orange;" width="35"></iconify-icon>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <a href="{{ path('back_app_invoice_show', {'id': invoice.id}) }}">
                                    <button type="button" class="button button-details px-6 flex items-center justify-center">Details</button>
                                </a>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <button type="button" class="button button-details px-6 flex items-center justify-center"><iconify-icon icon="material-symbols:download" style="color: white;" width="24" height="24"></iconify-icon></button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                        <td colspan="7" class="px-6 py-4 text-center">
                            Aucun devis
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div>
            <div class="flex space-x-16 items-center w-full py-2 px-2 bg-gray-200">
                <div class="text-medium flex justify-center items-center space-x-4">
                    <iconify-icon icon="flat-color-icons:ok" width="35px"></iconify-icon>
                    <p class="mb-0">Factures payées</p>
                </div>
                <div class="text-medium flex justify-center items-center space-x-4">
                    <iconify-icon icon="material-symbols:pending" style="color: orange;" width="35"></iconify-icon>
                    <p class="mb-0">Factures en attente de règlement</p>
                </div>
            </div>
        </div>
    </div>

    {# <a href="{{ path('back_app_invoice_new') }}">Create new</a> #}
{% endblock %}
