{% extends 'back/base.html.twig' %}

{% block title %}{{ 'new invoice'|trans({}, 'invoice') }}{% endblock %}

{% block main %}
    <h1>{{ 'create new invoice'|trans({}, 'invoice') }}</h1>

    {{ include('back/invoice/_form.html.twig') }}

    <a href="{{ path('back_app_invoice_index') }}">{{ 'back to list'|trans({}, 'invoice') }}</a>
{% endblock %}
