{% extends 'back/base.html.twig' %}

{% block title %}Estimate index{% endblock %}

{% block main %}
    <h1>Estimate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estimate in estimates %}
            <tr>
                <td>{{ estimate.id }}</td>
                <td>{{ estimate.title }}</td>
                <td>
                    <a href="{{ path('back_app_estimate_show', {'id': estimate.id}) }}">show</a>
                    <a href="{{ path('back_app_estimate_edit', {'id': estimate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_app_estimate_new') }}">Create new</a>
{% endblock %}
