{% extends 'back/base.html.twig' %}

{% block title %}Estimate{% endblock %}

{% block main %}
    <h1>Estimate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estimate.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ estimate.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('back_app_estimate_index') }}">back to list</a>

    <a href="{{ path('back_app_estimate_edit', {'id': estimate.id}) }}">edit</a>

    {{ include('back/estimate/_delete_form.html.twig') }}
{% endblock %}
