{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
    <script src="{{ asset('js/script.js') }}"></script>
      <style>
        /* Custom styles */
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 85vh;
                width: max-content;
        }
form {
    margin-top: 30%;
}
table {
  
    border-spacing: 0px;
}
        .form-container {
            width: 50%;
            padding: 10%;
            background-color: white;
            
           
            
        }

        .form-container h1 {
            text-align: center;
            margin-bottom: 20px;
            
        }

        .form-container h3 {
            margin-bottom: 20px;
            text-align: center;
            font-family: sans-serif;
            font-weight: 100;
  
           
        }

        .form-container label {
            display: block;
            margin-bottom: 10px;
               color: dimgrey;
        }

        .form-container input {
            width: 95%;
            padding: 8px;
            margin-bottom: 20px;
            border-left-width: 0;
            border-right-width: 0;
            border-top-width: 0;
        }

        .form-container button {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
        }

        .image-container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .image-container img {
            max-width: 100%;
            max-height: 100%;
        }

       
        .btn.btn-primary {
    background-color: deepskyblue;
    color: white;
    border: white;
        }
.a {
    color: black;
}
    
    </style>
{% endblock %}

{% block body %}
<table class="container">
    <tr>
        <td class="image-container">
            <img src="{{ asset('images/login.png') }}" alt="Image">
        </td>
        <td class="form-container">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="titre">Connexion / Inscription</h1>
                <h3 class="h3 mb-3 font-weight-normal">Saisissez votre email pour vous connecter ou créer un compte</h3>

                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-primary" type="submit">
                    Se connecter/S'inscrire
                </button>
               &nbsp;&nbsp;
               <div style="text-align: center; " >
    <a  href="https://openclassrooms.com/fr/">Mot de passe oublié ?</a> 
    <br> <br>
     <a href="https://openclassrooms.com/fr/">S'inscrire</a>
</div>
                
            </form>
        </td>
    </tr>
</table>
{% endblock %}
