{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
    <h1>Company index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DateOfCreation</th>
                <th>OwnerFirstName</th>
                <th>OwnerLastName</th>
                <th>Address</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>Siret</th>
                <th>Tva</th>
                <th>Language</th>
                <th>Currency</th>
                <th>Theme</th>
                <th>CompanyImageName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.dateOfCreation ? company.dateOfCreation|date('Y-m-d') : '' }}</td>
                <td>{{ company.ownerFirstName }}</td>
                <td>{{ company.ownerLastName }}</td>
                <td>{{ company.address }}</td>
                <td>{{ company.phoneNumber }}</td>
                <td>{{ company.email }}</td>
                <td>{{ company.siret }}</td>
                <td>{{ company.tva }}</td>
                <td>{{ company.language }}</td>
                <td>{{ company.currency }}</td>
                <td>{{ company.theme }}</td>
                <td>{{ company.companyImageName }}</td>
                <td>
                    <a href="{{ path('back_app_company_show', {'id': company.id}) }}">show</a>
                    <a href="{{ path('back_app_company_edit', {'id': company.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_app_company_new') }}">Create new</a>
{% endblock %}
