{% extends 'back/base.html.twig' %}

{% block title %}Company{% endblock %}

{% block main %}
    <h1>Company</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ company.dateOfCreation ? company.dateOfCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>OwnerFirstName</th>
                <td>{{ company.ownerFirstName }}</td>
            </tr>
            <tr>
                <th>OwnerLastName</th>
                <td>{{ company.ownerLastName }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ company.address }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ company.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ company.email }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ company.siret }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ company.tva }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ company.language }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ company.currency }}</td>
            </tr>
            {# <tr>
                <th>Theme</th>
                <td>{{ company.theme }}</td>
            </tr> #}
            <tr>
                <th>CompanyImageName</th>
                <td>
                    <img class="w-32" src="{{ vich_uploader_asset(company, 'companyImageFile') }}" alt="logo" class="w-full h-auto m-4">
                <td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('back_app_company_edit', {'id': company.id}) }}">
            <button type="submit" class="button button-edit px-4 flex items-center justify-center space-x-4"><iconify-icon icon="dashicons:saved" style="color: white;" width="24" height="24"></iconify-icon>{{ button_label|default('Modifier') }}</button>
        </a>

{% endblock %}
