{% extends 'back/base.html.twig' %}

{% block title %}Prestation index{% endblock %}

{% block main %}
    <h1>Prestation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Duration</th>
                <th>Workforce</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestation in prestations %}
            <tr>
                <td>{{ prestation.id }}</td>
                <td>{{ prestation.name }}</td>
                <td>{{ prestation.category }}</td>
                <td>{{ prestation.duration }}</td>
                <td>{{ prestation.workforce }}</td>
                <td>
                    <a href="{{ path('back_app_prestation_show', {'id': prestation.id}) }}">show</a>
                    <a href="{{ path('back_app_prestation_edit', {'id': prestation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_app_prestation_new') }}">Create new</a>
{% endblock %}
