<form method="post" action="{{ path('back_app_user_validate', {'id': user.id}) }}" onsubmit="return confirm('{{ 'valid message' | trans({},'user') }} {{ user.id}} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button class="button button-details px-6 flex items-center justify-center text-medium">{{ 'valid' | trans({},'user') }}</button>
</form>