<h1>Reset password for account {{ user.firstname }} {{user.lastname}}!</h1>
<p> {{user.id}}</p>
<p> {{user.validationToken}}</p>
<p>
    <a href="{{url('app_reset_password',{'id': user.id,'token': user.validationToken})}}">Click here to reset your password</a>
</p>