{% extends 'back/base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block main %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Quantity</th>
                <th>Total_ht</th>
                <th>Total_tva</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.totalHt }}</td>
                <td>{{ product.totalTva }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <a href="{{ path('back_app_product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('back_app_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_app_product_new') }}">Create new</a>
{% endblock %}
