{% extends 'back/base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block main %}
    {% include 'components/page_header.html.twig' with {'title': 'Liste des produits', 'link': path('back_default_index')} %}

    <div class="card">
    <table>
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total_ht</th>
                <th scope="col">Total_tva</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
{#                <td>{{ product.id }}</td>#}
                <td>{{ product.title }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.totalHt }}</td>
                <td>{{ product.totalTva }}</td>
                <td>{{ product.description|slice(0, 50) ~ '...' }}</td>
                <td>
                    <a href="{{ path('back_app_product_show', {'id': product.id}) }}">
                        <button type="button" class="button button-details">Détails</button>
                    </a>
                <td>
                    <a href="{{ path('back_app_product_edit', {'id': product.id}) }}">
                        <button type="button" class="button button-details">Modifier</button>
                    </a>
                </td>
                <td>
                    {{ include('back/product/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="mt-4">
        <a class="no-underline" href="{{ path('back_app_product_new') }}">
            <button type="button" class="button button-details">Nouveau produit</button>
        </a>
    </div>
{% endblock %}
