{% extends 'back/base.html.twig' %}

{% block title %}Product{% endblock %}

{% block main %}
    {% include 'components/page_header.html.twig' with {'title': 'Produit n°'~product.id, 'link': path('back_app_product_index')} %}

            </tr>
        </tbody>
    </table>
    <div class="card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div class="flex justify-center items-center">
                {% if vich_uploader_asset(product, 'productImageFile') %}
                <img src="{{ vich_uploader_asset(product, 'productImageFile') }}" alt="{{ product.description }}" class="w-full h-auto m-4">
                {% else %}
                <img src="{{ app.request.baseURL }}/uploads/images/global/noImage.jpeg" alt="{{ product.description }}" class="w-100 h-100 m-4">
                {% endif %}
            </div>
            <div class="mt-4 p-6">
                <div class="flex space-x-4 text-center">
                    <p class="font-bold w-full text-main">{{ product.title }}</p>
                </div>
                <div class="flex space-x-4">
                    <p class="font-bold">Quantity</p>
                    <p>{{ product.quantity }}</p>
                </div>
                <div class="flex space-x-4">
                    <p class="font-bold">Total HT</p>
                    <p>{{ product.totalHt }} €</p>
                </div>
                <div class="flex space-x-4">
                    <p class="font-bold">Total TVA</p>
                    <p>{{ product.totalTva }} €</p>
                </div>
                <div class="flex space-x-4">
                    <p class="font-bold">Description</p>
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 flex space-x-4">
        <a href="{{ path('back_app_product_edit', {'id': product.id}) }}">
            <button type="submit" class="button button-edit px-4 flex items-center justify-center space-x-4"><iconify-icon icon="dashicons:saved" style="color: white;" width="24" height="24"></iconify-icon>{{ button_label|default('Modifier') }}</button>
        </a>

        {{ include('back/product/_delete_form.html.twig') }}
    </div>

{% endblock %}
