{% if from == 'edit' %}
    <form method="post" action="{{ path('back_app_customer_delete', {'id': customer.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer le client n° {{ customer.id}} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
{% else %}
    <form method="post" action="{{ path('back_app_user_delete', {'id': app.user.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer votre compte ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
{% endif %}
    <button class="button button-invalid px-6 flex items-center justify-center text-medium">
        {% if from == 'edit' %}
            Supprimer
        {% else %}
            Supprimer mon compte
        {% endif %}
    </button>
</form>