{% set NO_DATA_MESSAGE = "Aucun devis" %}

<table>
    <thead>
    <tr>
        <th scope="col" class="px-6 py-3 text-center">
            {% if type == "estimate" and estimatesPagination is not null %}
                {{ knp_pagination_sortable(estimatesPagination, 'Devis n°', 'id') }}
            {% elseif type == "invoice" and invoicesPagination is not null %}
                {{ knp_pagination_sortable(invoicesPagination, 'Facture n°', 'id') }}
            {% endif %}
        </th>
        {% if type == "estimate" %}
        <th scope="col">Véhicule</th>
        {% endif %}
        <th scope="col">Client N°</th>
        <th scope="col">Date du devis</th>
        <th scope="col">Montant</th>
            {% if type == "invoice" %}
        <th scope="col">{{ knp_pagination_sortable(invoicesPagination, 'Statut', 'isValidated') }}</th>
            {% elseif type == "estimate" %}
        <th scope="col">{{ knp_pagination_sortable(estimatesPagination, 'Statut', 'isValidated') }}</th>
            {% endif %}
    </tr>
    </thead>
    <tbody>
    {% if type == "invoice" and invoicesPagination is not empty %}
        {% for invoice in invoicesPagination %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.customer.id}}</td>
                <td>{{ invoice.createdAt|date('d/m/Y') }}</td>
                {% for total in invoicesTotal %}
                {% if invoice.id == total.id %}
                    <td>{{ total.total }}</td>
                {% endif %}
                {% endfor %}
                <td><iconify-icon icon="material-symbols:pending" style="color: orange;" width="35"></iconify-icon></td>
                <td>
                    <a href="{{ path('back_app_invoice_show', {'id': invoice.id}) }}">
                        <button type="button" class="button button-details">Details</button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('back_app_invoice_download', {'id': invoice.id}) }}">
                        <button type="button" class="button button-details"><iconify-icon icon="material-symbols:download" style="color: white;" width="24" height="24"></iconify-icon></button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% elseif type == "estimate" and estimatesPagination is not empty %}
        {% for estimate in estimatesPagination %}
            <tr>
                <td>{{ estimate.id }}</td>
                <td>{{ estimate.carId }}</td>
                <td>{{ estimate.createdAt|date('d/m/Y')  }}</td>
                <td>{{ estimate.validityDate|date('d/m/Y') }}</td>
                {%  for total in estimatesTotal %}
                    {% if estimate.id == total.id %}
                        <td>{{ total.total }}</td>
                    {% endif %}
                {% endfor %}
                <td>
                    {% if estimate.status == 'PAID' %}
                        <iconify-icon icon="flat-color-icons:ok" width="35px"></iconify-icon>
                    {% elseif estimate.status == 'PENDING' %}
                        <iconify-icon icon="material-symbols:pending" style="color: orange;" width="35"></iconify-icon>
                    {% elseif estimate.status == 'REFUSED' %}
                        <iconify-icon icon="material-symbols:cancel" style="color: red;" width="35"></iconify-icon>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('back_app_estimate_show', {'id': estimate.id}) }}">
                        <button type="button" class="button button-details">Details</button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('back_app_estimate_download', {'id': estimate.id}) }}">
                        <button type="button" class="button button-details"><iconify-icon icon="material-symbols:download" style="color: white;" width="24" height="24"></iconify-icon></button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="7">Aucun devis</td>
        </tr>
    {% endif %}
    </tbody>
</table>