{% extends 'back/base.html.twig' %}

{% block title %}{{ 'Dashboard' | trans }}{% endblock %}

{% block main %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="flex space-x-80 mb-20">
            <div id="chart-dashboard" class="ml-52">
                {{ render_chart(chart, {'class': 'my-chart'}) }}
            </div>
            <div id="cards" class="flex flex-col space-y-8">
                <div class="flex space-x-16 items-center">
                    <a href="#" class="flex flex-col items-center h-24 w-48 max-w-sm px-3 py-2 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">26</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">Nouveaux clients</p>
                    </a>
                    <a href="#" class="flex flex-col items-center h-24 w-48 max-w-sm px-3 py-2 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">37</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">Devis en attente</p>
                    </a>
                </div>
                <div class="flex space-x-16">
                    <a href="#" class="flex flex-col items-center h-24 w-48 max-w-sm px-3 py-2 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">8</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">Prestation à venir</p>
                    </a>
                    <a href="#" class="flex flex-col items-center h-24 w-48 max-w-sm px-3 py-2 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">43</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">Prestation<br>effectuées</p>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    <div id="last-estimate-dashboard">
        <div class="flex justify-between items-center w-full mt-14">
            {% if is_granted('ROLE_ADMIN') %}
                <p class="text-main">Derniers devis clients</p>
            {% else %}
                <p class="text-main">Mes derniers devis</p>
            {% endif %}
            <div class="text-action flex space-x-4 items-center justify-center">
                <a href="{{path('back_app_estimate_index')}}" class="no-underline flex items-start space-x-2 p-2 text-gray-900 rounded-lg dark:text-white">
                    <p class="mb-0">Tout voir</p>
                    <img src="{{ app.request.baseURL }}/uploads/images/icon/icon-arrow-right.svg" alt="">
                </a>
            </div>
        </div>
        <div class="relative bg-gray-50 overflow-x-auto shadow-md sm:rounded-lg mt-14 px-8">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
                <thead class="text-xs text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400">
                <tr class="border-b-2 border-gray-500">
                    <th scope="col" class="px-6 py-3 text-center">
                        Devis n°
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Véhicule
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Date du devis
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Date de validité
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Montant
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Statut
                    </th>
                    <th scope="col" class="px-6 py-3">
                </tr>
                </thead>
                <tbody>
                {% if estimates is not empty %}
                    {% for estimate in estimates %}
                        <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                                {{ estimate.id }}
                            </th>
                            <td class="px-6 py-4 text-center">
                                {{ estimate.title }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                {{ estimate.title }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                {{ estimate.validityDate|date('d/m/Y') }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                77 €
                            </td>
                            <td class="px-6 py-4 text-center">
                                En cours
                            </td>
                            <td class="px-6 py-4 text-center flex justify-center">
                                <iconify-icon icon="material-symbols:cancel" style="color: red;" width="35"></iconify-icon>
                            </td>
                            <td class="px-6 py-4 text-center">

                                <button type="button" class="button button-details px-6 flex items-center justify-center">Details</button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                        <td colspan="7" class="px-6 py-4 text-center">
                            Aucun devis
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div>
            <div class="flex space-x-16 items-center w-full py-2 px-2 bg-gray-200">
                <div class="text-medium flex justify-center items-center space-x-4">
                    <iconify-icon icon="flat-color-icons:ok" width="35px"></iconify-icon>
                    <p class="mb-0">Devis acceptés</p>
                </div>
                <div class="text-medium flex justify-center items-center space-x-4">
                    <iconify-icon icon="material-symbols:cancel" style="color: red;" width="35"></iconify-icon>
                    <p class="mb-0">Devis acceptés</p>
                </div>
                <div class="text-medium flex justify-center items-center space-x-4">
                    <iconify-icon icon="material-symbols:pending" style="color: orange;" width="35"></iconify-icon>
                    <p class="mb-0">Devis acceptés</p>
                </div>
            </div>
        </div>
    </div>


    <div class="mt-20">
        <div class="flex justify-between items-center w-full mt-14">
            {% if is_granted('ROLE_ADMIN') %}
                <p class="text-main">Dernières factures clientes</p>
            {% else %}
                <p class="text-main">Mes dernières factures</p>
            {% endif %}
            <div class="text-action flex space-x-4">
                <a href="{{path('back_app_invoice_index')}}" class="no-underline flex items-start space-x-2.5 p-2 text-gray-900 rounded-lg dark:text-white">
                    <p class="mb-0">Tout voir</p>
                    <img src="{{ app.request.baseURL }}/uploads/images/icon/icon-arrow-right.svg" alt="">
                </a>
            </div>
        </div>
        <div class="relative bg-gray-50 overflow-x-auto shadow-md sm:rounded-lg mt-14 px-8">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
                <thead class="text-xs text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400">
                <tr class="border-b-2 border-gray-500">
                    <th scope="col" class="px-6 py-3 text-center">
                        Devis n°
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Véhicule
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Date du devis
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Date de validité
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Montant
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Statut
                    </th>
                    <th scope="col" class="px-6 py-3">
                    <th scope="col" class="px-6 py-3">
                </tr>
                </thead>
                <tbody>
                {% if invoices is not empty %}
                    {% for invoice in invoices %}
                        <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                                {{ invoice.id }}
                            </th>
                            <td class="px-6 py-4 text-center">
                                {{ invoice.client.lastname }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                {{ invoice.status }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                {{ invoice.status}}
                            </td>
                            <td class="px-6 py-4 text-center">
                                77 €
                            </td>
                            <td class="px-6 py-4 text-center">
                                En cours
                            </td>
                            <td class="px-6 py-4 text-center flex justify-center">
                                <img src="{{ app.request.baseURL }}/uploads/images/icon/icon-state-waiting.svg" alt="">
                            </td>
                            <td class="px-6 py-4 text-center">
                                <a href="{{ path('back_app_invoice_show', {'id': invoice.id}) }}">
                                <button type="button" class="button button-details px-6 flex items-center justify-center">Details</button>
                                </a>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <button type="button" class="button button-details px-6 flex items-center justify-center"><iconify-icon icon="material-symbols:download" style="color: white;" width="24" height="24"></iconify-icon></button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                        <td colspan="7" class="px-6 py-4 text-center">
                            Aucun devis
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div>
            <div class="flex space-x-16 items-center w-full py-2 px-2 bg-gray-200">
                <div class="text-medium flex justify-center items-center space-x-4">
                    <img src="{{ app.request.baseURL }}/uploads/images/icon/icon-state-valid.svg" alt="">
                    <p class="mb-0">Factures payées</p>
                </div>
                <div class="text-medium flex justify-center items-center space-x-4">
                    <img src="{{ app.request.baseURL }}/uploads/images/icon/icon-state-waiting.svg" alt="">
                    <p class="mb-0">Factures en attente de règlement</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
